placesview {
  .server-list-button > image {
    transition: -gtk-icon-transform 200ms $ease-out-quad;
    -gtk-icon-transform: rotate(0turn);
  }

  .server-list-button:checked > image {
    -gtk-icon-transform: rotate(-0.5turn);
  }

  > actionbar > revealer > box > box{
    border-spacing: 6px;
  }
}

filechooser {
  box-shadow: 0 1px $border_color;

  pathbar button {
    &:not(.image-button) {
      padding-left: 9px;
      padding-right: 9px;
    }

    // Icon + label buttons
    > box {
      border-spacing: 4px;

      > label {
        padding-left: 2px;
        padding-right: 2px;
      }
    }
  }

  gridview {
    padding: 15px;

    ~ undershoot.top {
      box-shadow: inset 0 1px $border_color;
    }

    > child {
      border-radius: 12px;
      padding: 6px 12px;
      margin: 3px;

      & filethumbnail image {
        filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.3));
      }

      & box {
        border-spacing: 6px;
      }
    }
  }
}
